# Course 1 Week 1 Assignment 1

## Part A: Find a list of all of the names in the following string using regex.

In [40]:
import re

In [1]:
simple_string = """Amy is 5 years old, and her sister Mary is 2 years old. Ruth and Peter, their parents, have 3 kids."""

In [3]:
re.findall("[A-Z][a-z]+", simple_string)
# "+": for one or more

['Amy', 'Mary', 'Ruth', 'Peter']

## Part B: The dataset file contains a line separated list of people with their grade in a class. Create a regex to generate a list of just those students who received a B in the course.

In [131]:
# The usual way

import io

ls_B = list()
no = sum(1 for i in io.open("C1W1/A1Q2.txt"))
with io.open("C1W1/A1Q2.txt") as fh:
    for i in range(no):
        ln = fh.readline().strip().split(": ")
        try:
            if ln[1] == "B":
                ls_B.append(ln[0])
        except:
            print("")

print(ls_B)
print(len(ls_B))

['Bell Kassulke', 'Simon Loidl', 'Elias Jovanovic', 'Hakim Botros', 'Emilie Lorentsen', 'Jake Wood', 'Fatemeh Akhtar', 'Kim Weston', 'Yasmin Dar', 'Viswamitra Upandhye', 'Killian Kaufman', 'Elwood Page', 'Elodie Booker', 'Adnan Chen', 'Hank Spinka', 'Hannah Bayer']
16

##### Try using regex

In [38]:
line = io.open("C1W1/A1Q2.txt").readline().strip()
print(line)

Ronald Mayr: A

In [51]:
# finding the grade
re.findall("(?<=: )[A-Z]", line)

['A']

In [108]:
# finding the name
re.findall("[\w ]*(?=: )", line)

['Ronald Mayr', '']

In [129]:
def grades():
    
    pattern = "(?<=: )[B]"
    pattern2 = "[\w ]*(?=: )"
    Bls = list()
    no = sum(1 for i in io.open("C1W1/A1Q2.txt"))
    
    with open ("C1W1/A1Q2.txt", "r") as file:
        for i in range(no):
            line = file.readline()
            name = re.findall(pattern2, line)[0]
            if re.search(pattern, line):
                Bls.append(name)

    return(Bls)

    raise NotImplementedError()

In [130]:
ls = grades()
print(len(ls))

16

## Part C: Consider the standard web log file. This file records the access a user makes when visiting a web page (like this one!). Each line of the log has the following items:

- a host (e.g., '146.204.224.152')
- a user_name (e.g., 'feest6811' note: sometimes the user name is missing! In this case, use '-' as the value for the username.)
- the time a request was made (e.g., '21/Jun/2019:15:45:24 -0700')
- the post request type (e.g., 'POST /incentivize HTTP/1.1' note: not everything is a POST!)

In [132]:
# Your task is to convert this into a list of dictionaries, where each dictionary looks like the following:
    
example_dict = {"host":"146.204.224.152", 
                "user_name":"feest6811", 
                "time":"21/Jun/2019:15:45:24 -0700",
                "request":"POST /incentivize HTTP/1.1"}

In [135]:
# printing a line for ref

for i in range(5):
    print(io.open("C1W1/A1Q3.txt").readline())

146.204.224.152 - feest6811 [21/Jun/2019:15:45:24 -0700] "POST /incentivize HTTP/1.1" 302 4622

146.204.224.152 - feest6811 [21/Jun/2019:15:45:24 -0700] "POST /incentivize HTTP/1.1" 302 4622

146.204.224.152 - feest6811 [21/Jun/2019:15:45:24 -0700] "POST /incentivize HTTP/1.1" 302 4622

146.204.224.152 - feest6811 [21/Jun/2019:15:45:24 -0700] "POST /incentivize HTTP/1.1" 302 4622

146.204.224.152 - feest6811 [21/Jun/2019:15:45:24 -0700] "POST /incentivize HTTP/1.1" 302 4622

In [173]:
# The usual way:

no = sum(1 for i in io.open("C1W1/A1Q3.txt"))


with io.open("C1W1/A1Q3.txt") as fh:

    ls = list()
    for i in range(no):
        dc = dict()
        ln = fh.readline().strip().split(" ")
        host = ln[0]
        user_name = ln[2]
        time = ln[3] + " " + ln[4]
        time = time[1:len(time)-1]
        request = ln[5] + " " + ln[6] + " " + ln[7]
        request = request[1:len(request)-1]
        dc["host"] = host
        dc["user_name"] = user_name
        dc["time"] = time
        dc["request"] = request
        ls.append(dc)

In [174]:
len(ls)

979

In [175]:
one_item={'host': '146.204.224.152',
  'user_name': 'feest6811',
  'time': '21/Jun/2019:15:45:24 -0700',
  'request': 'POST /incentivize HTTP/1.1'}
assert one_item in ls, "Sorry, this item should be in the log results, check your formating"

In [176]:
ls[0]

{'host': '146.204.224.152',
 'user_name': 'feest6811',
 'time': '21/Jun/2019:15:45:24 -0700',
 'request': 'POST /incentivize HTTP/1.1'}

##### try using regex

In [177]:
# printing a line for ref

for i in range(5):
    print(io.open("C1W1/A1Q3.txt").readline())

146.204.224.152 - feest6811 [21/Jun/2019:15:45:24 -0700] "POST /incentivize HTTP/1.1" 302 4622

146.204.224.152 - feest6811 [21/Jun/2019:15:45:24 -0700] "POST /incentivize HTTP/1.1" 302 4622

146.204.224.152 - feest6811 [21/Jun/2019:15:45:24 -0700] "POST /incentivize HTTP/1.1" 302 4622

146.204.224.152 - feest6811 [21/Jun/2019:15:45:24 -0700] "POST /incentivize HTTP/1.1" 302 4622

146.204.224.152 - feest6811 [21/Jun/2019:15:45:24 -0700] "POST /incentivize HTTP/1.1" 302 4622

In [178]:
line = io.open("C1W1/A1Q3.txt").readline()

In [210]:
re.findall("[\d.]*(?= - )", line)[0]

'146.204.224.152'

In [192]:
re.findall("(?<= - )[\w]*", line)

['feest6811']

In [209]:
re.findall('(?<= - )(.*?)(?=\s\[)', line) # this is much better

['feest6811']

In [197]:
re.findall("(?<=\[)(.*?)(?=\])", line)

['21/Jun/2019:15:45:24 -0700']

In [198]:
re.findall("\[(.*?)\]", line)

['21/Jun/2019:15:45:24 -0700']

In [199]:
re.findall('\"(.*?)\"', line)

['POST /incentivize HTTP/1.1']

In [214]:
no = sum(1 for i in io.open("C1W1/A1Q3.txt"))

with io.open("C1W1/A1Q3.txt") as fh:

    ls = list()
    
    for i in range(no):
        dc = dict()
        line = fh.readline()
        dc["host"] = re.findall("[\d.]*(?= - )", line)[0]
        dc["user_name"] = re.findall('(?<= - )(.*?)(?=\s\[)', line)[0]
        dc["time"] = re.findall("(?<=\[)(.*?)(?=\])", line)[0]
        dc["request"] = re.findall('\"(.*?)\"', line)[0]
        ls.append(dc)

In [216]:
ls[0]

{'host': '146.204.224.152',
 'user_name': 'feest6811',
 'time': '21/Jun/2019:15:45:24 -0700',
 'request': 'POST /incentivize HTTP/1.1'}

In [217]:
len(ls)

979