In [ ]:
### 20210910 Self Study (A Primer for computational biology)

In [ ]:
### Ch 13 (A Primer)

In [2]:
print("hello")

hello

In [3]:
a = 5000
print(a)

5000

In [15]:
### Ch 14 (Elementary data types, "A Primer")

In [ ]:
# random trying

In [8]:
x = 10
y = 0.05
type(x)

int

In [21]:
type(y)

float

In [ ]:
# Integers, floats, boolean

In [19]:
print(int(y))

0

In [22]:
print(float(x))

10.0

In [24]:
2 > 3

False

In [25]:
# Strings

In [26]:
a = "Marco"
b = "Cheung"
print(a+b)

MarcoCheung

In [27]:
print(a + " " + b) # somewhat like paste() in R

Marco Cheung

In [33]:
c = 1990
# if just cocatenate c, will result in error
print(a + b + c)

TypeError: can only concatenate str (not "int") to str

In [34]:
print(a + b + str(c))

MarcoCheung1990

In [11]:
# Q1 convert between types (into bool)
b = bool(3)
type(b)

bool

In [12]:
print(b)

True

In [14]:
for i in range(10):
    print(bool(i))

# so you can see that only 0 is false

False
True
True
True
True
True
True
True
True
True

In [36]:
for i in "as;ldkfjDJ":
    print(bool(i))

True
True
True
True
True
True
True
True
True
True

In [35]:
print(bool("ABD"))

True

In [37]:
# Q2 Multiply string by an integer

print("abc" * 3)

abcabcabc

In [39]:
# Q3 Using float type as an index

string = "ABCabc"
print(string[1.0])

TypeError: string indices must be integers

In [40]:
print(string[1])

B

In [41]:
# Q4 split half program

seq = "ACTAGATGA"

In [47]:
def split(seq):
    l = len(seq)
    lh = l//2
    first_half = seq[:lh]
    second_half = seq[lh:]
    print(first_half, second_half)

In [49]:
split(seq)

ACTA GATGA

In [50]:
### Ch 15 Collections and looping: lists and for

In [52]:
# .append()
l = list()
l.append("a")
print(l)

['a']

In [57]:
# sorted
l = ["A", "C", "G", "T"]
print(sorted(l, reverse = True))

['T', 'G', 'C', 'A']

In [58]:
# .sort()
l.sort()
print(l)

['A', 'C', 'G', 'T']

In [69]:
# .split()
l = "abc"*6
ls = l.split("a")
print(ls)

['', 'bc', 'bc', 'bc', 'bc', 'bc', 'bc']

In [101]:
# if you want to split by char, may need to do it like this
lc = list()
for i in l:
    lc.append(i)
print(lc)

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [103]:
# immutable list (not able to be changed) i.e. tuples

x = ("A", "B", "C")
type(x)

tuple

In [74]:
# Q1 & 2:
# sample code for width 4 and depth 2:

total = 0
for i in range(4):
    for j in range(4):
        total += 1

print(total)

16

In [76]:
# define an equation that indicates the sum of "total" for width "w" and depth "d"

def total(w,d):
    return(w**d)

In [77]:
total(4,2)

16

In [79]:
# Q3:
# sample code

total = 0
x = 10

for i in range(x):
    for j in range(i):
        total += 1

print(total)

45

In [83]:
def total2(x):
    return(x * (x-1) / 2)

In [84]:
total2(10)

45.0

In [85]:
# Q4:

seq = "ATGATAGAGGGATACGGGATAG"
subseq = "GATA"

# find all positions

2

In [89]:
for i in range(len(seq)):
    curseq = seq[i:(i+4)]
    if (len(curseq) < 4):
        break
    if (curseq == subseq):
        print(i)

2
10
17

In [93]:
# another approach

for i in range(len(seq)):
    if (seq.startswith(subseq,i)):
        print(i)

2
10
17

In [97]:
# or simply:

x = [i for i in range(len(seq)) if seq.startswith(subseq,i)]
print(x)
# also an example for list comprehension

[2, 10, 17]

In [100]:
# Q5: to transpose a list of columns

cols = [[10,20,30,40],[5,6,7,8],[0.7,0.8,0.9,1.0]]

In [131]:
ls = list(map(list, zip(*cols)))
ls

# The signature of zip: zip(*iterables) This means zip expects an arbitrary number 
# of arguments each of which must be iterable. E.g. zip([1, 2], [3, 4], [5, 6]).

[[10, 5, 0.7], [20, 6, 0.8], [30, 7, 0.9], [40, 8, 1.0]]

In [141]:
# the rudimentary way
ls = list()
for i in range(len(cols[0])):
    l = list()
    for j in range(len(cols)):
        l.append(cols[j][i])
    ls.append(l)
print(ls)